* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.demo{
    background-color: cornsilk;
    color: darkgoldenrod;
    text-transform: uppercase;
}
h1{
    background-color: darkgoldenrod;
    color: cornsilk;
    text-transform: capitalize;
}
.vip{
    background-color: rgb(15, 15, 15);
    color: cornsilk;
    text-transform: capitalize;
}